<html>
    <head>
        <title>Sandbox | MercadoPago </title>
        
        <meta charset="utf-8">
        
        
        <link rel="shortcut icon" href="/favicon.ico">
        
        <link rel="stylesheet" href="https://static.mlstatic.com/org-img/ch/ui/1.1.1/themes/mp/chico.min-0.0.2.css">           
        
        <!-- Stylesheet -->   
        <link rel="stylesheet" href="/stylesheet/layout/style.css">    
            

        <script src="/javascript/default/jquery-1.11.1.js"></script>
        <script src="/javascript/default/layout.js"></script>
        
    </head>

    <body>

        <div id="main">

            <header>
                <div id="header-content">
                    <div id="logo-box">
                        <span id="logo"></span>
                        <span id="line"></span>
                        <span id="sandbox">Sandbox</span>
                    </div>

                    <div id="menu-btn">
                        <span id="iconMenu" class="icons-header menu-icon">Menu</span>
                    </div>
                    
                    <ul id="menu">
                        <li class="option_menu"><a href="/collector/payments">Recebimentos</a></li>
                        <li class="option_menu"><a href="/payer/payments">Pagamentos</a></li>
                        <li class="option_menu_logout"><a href="/mercadopago/logout">Sair</a></li>

                    </ul>

                </div>
            </header>


            <div id="content">